<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>AmonOS</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',
    filename='css/styles.css')}}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="container">
      <div id="output-box"></div>
      <div class="prompt-container">
        <p class="prompt-text">
          <span class="prompt-user" id="prompt-user-input">root</span
          >@amonOS:<span class="prompt-cwd" id="prompt-cwd-input">/</span
          ><span class="prompt-sym" id="prompt-sym-input">#</span>
        </p>

        <input
          type="text"
          autocomplete="off"
          name="command"
          id="prompt-input"
          autofocus
        />
      </div>
    </section>
  </body>
  <script src="{{url_for('static', filename='js/app.js')}}"></script>
  <script src="{{url_for('static', filename='js/axios.min.js')}}"></script>
</html>
