

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Inicio</h1>

  <form method="post" autocomplete="off">

      <h2>Ingresar Usuario:</h2> <br>
      <input type="text" name="Usuario" id="usuario"> <br>
      <h2>Ingresar Comando:</h2> <br>
      <input type="text" name="Respuesta" id="cmd"> <br> <br>
      <input type="submit" value="Enviar" id="btn-cargar">
    </form>
    <hr>
    <h1>Favor de enviar datos</h1>


  </body>
  <script src="../static/app.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</html>
